<body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}
.main-c{
    padding:10px 50px;
}
.header{
    padding: 10px 20px;
}

#image1 {

    border-radius: 50%;
}
nav{
    padding: 10px 30px;
}